/*this is a comment in CSS*/
h1 {
	font-size: 72px;
	text-align: center;
	color: #ea3838;
	font-family: Yu Gothic Light;
	margin: 0;
}
img{
	align-items: center;
}
div {
	background-color: #BFCDFF;
	padding: 10px;
	border: 10px solid #ea3838;
}
p {
	font-size: 16px;
	font-family: Yu Gothic Light;
}
.japanese {
	color: #f1de39;
	font-size: 48px;
	text-align: center;
	font-family: Yu Gothic Light;
	margin: 0;
}
.yummy {
	font-size: 36px;
}
.container {
	margin: 5px;
	border-color: solid #ea3838
}
.yellowborder {
	border: 5px solid #f1de39;
}
.extra-cool-text {
  color: #ea3838;
  font-weight: 700;
  line-height: 40px;
}
.img-center img{
	display: block;
	margin: auto;
	border: 5px solid #BFCDFF;
}
.link {
	font-family: Yu Gothic Light;
	font-size: 11px
}