html{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	/*background-color: #f9ff8f;*/
	/*d2e7ff - light purple color*/
	/*92d0ff - old color blue*/
	background-color: #d2e7ff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: black;
	margin: 0px;
	/*overflow: hidden; this is added for the javascript*/
	/*padding: 0;*/
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	min-height: 100%;
}
p{
	margin: 0;
	border: 0;
}

a{
	display: inline-block;
	color: #d2e7ff;
	background-color: black;
	text-decoration: none;
	/*background-color: #043256;*/
	padding: 8px;
	border-radius: 5px;
	border: 2px groove /*#f7b521*/black;
}

a:hover{
	color: black;
	background-color: #d2e7ff;
	border: 2px groove /*#f7b521*/black;
	cursor: pointer;
}


#SarahUmiLeventhal{
	padding: 15px;
	padding-bottom: 20px;
	width: 600px;
}

.biggestBox {
	margin: 0;
	border-radius: 5px;
	z-index: -500;
	height: 100%;
	min-height: 500px;
	max-width: 615px;
}


.tab{
 	padding-left: 100px;
 }

 .bio{
 	font-size: 20px;
 }

 .music{
 	padding: 0;
 	padding-top: 3px;
 	display: inline-block;
 	width: 50px;
 	border: none;
 	vertical-align: text-top;
 	background-color: #d2e7ff;
 }
 .music:hover{
 	background-color: #d2e7ff;
 	border: none;
 }
 #music:hover{
 	-webkit-filter: invert(1);
 	filter: invert(1);
 }
 #email{
 	border: 2px groove /*#f7b521*/black;
 	color: #d2e7ff;
 	background-color:black;
 }
 #email:hover{
 	color: black;
 	background-color: #d2e7ff;
 	border: 2px groove /*#f7b521*/black;
 }

 .GPGH{
 	padding: 0;
 	display: inline-block;
 	height: 50px;
 	border: none;
 	background-color: #d2e7ff;
 	vertical-align: text-top;
 }
 .GPGH:hover{
 	background-color: #d2e7ff;
 	border: none;
 }

.title{
	text-align: center;
	font-size: 4rem;
	margin: 15px;
}

#hobbies{
	width: 200px;
	padding-left: 50px;
}
#skills{
	width: 100px;
	padding-left: 50px;
}
#relevant{
	width: 350px;
	padding-left: 50px;
}
#StudentOrgs{
	width: 375px;
	padding-left: 50px;
}
#contact{
	width: 175px;
	padding-left: 50px;
}
#home{
	margin-left: 15px;
	margin-top: 15px;
}
 #home:hover{
 	-webkit-filter: invert(1);
 	filter: invert(1);
 	background-color: #d2e7ff;
 	border: none;
 }
#projects{
	width: 350px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 35px;
}
#voiceNP{
	width: 175px;
	padding-left: 100px;
}
#VNP{
	max-width: 175px;
}
#GH{
	padding-top: 8px;
}

.speech_bubble{
	background-color: white;
	border: 2px solid black;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 0 rgba(0,0,0, 0.2);
	box-shadow: 4px 4px 0 rgba(0,0,0, 0.2);
	width: 100px;
	position: fixed;
	bottom: 140px;
	right: 130px;
	margin: 5px;
	padding: 15px;
}

.speech_bubble p{
	margin: 0;
}

.speech_bubble_arrow{
	border-left: 21px solid transparent;
	border-top: 20px solid rgba(0, 0, 0, 0.2);
	bottom: -25px;
	position: absolute;
	right: 15px;
}

.speech_bubble_arrow::before{
	border-left: 23px solid transparent;
	border-top: 23px solid black;
	bottom: 2px;
	content: "";
	position: absolute;
	right: 5px;
}

.speech_bubble_arrow::after{
	border-left: 21px solid transparent;
	border-top: 21px solid white;
	bottom: 4px;
	content: "";
	position: absolute;
	right: 6px;
}

#sunflower_cutie{
	height: 170px;
	position: fixed;
	bottom: 25px;
	right: 25px;
}

nav{
	/*background-color: #fffe9f;*/
	margin: auto;
	padding: 0;
	border-radius: 5px;
	/*border: 2px double #f7b521;*/
	max-width: 375px;
}

.menu{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 5px;
}

.menu li{
	width: 100px;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 35px;
	color: #d2e7ff;
	font-weight: bold;
	text-decoration: none;
	background-color: black;
	border-radius: 5px;
	border: 2px groove black;
}

.menu a{
	padding: 0;
	border-radius: 5px;
	border: none;
	margin: 5px;
}

.menu li:hover{
	color: black;
	font-weight: bold;
	background-image: url(sunflowerSmallRec.jpg);
	background-size: cover;
	cursor: pointer;
}

.dropbtn{
	background-color: black;
	color: #d2e7ff;
	padding: 10px;
	border-radius: 5px;
	border: 2px double black;
	cursor: pointer;
}

.dropdown{
	position: relative;
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	/*background-color: #fffe9f;*/
	background-image: url(sunflowerSmallRec.jpg);
	color: #d2e7ff;
	font-weight: bold;
	min-width: 100px;
	box-shadow: 0;
	padding: 15px;
	z-index: 1;	
	border-radius: 5px;
	z-index: 1000;
}

.droplink{
	text-decoration: none;
	border: none;
	padding: 5px 10px;
	/*background-color: #fffe9f;*/
	border-radius: 5px;
	display: block;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown:hover .dropbtn{
	/*color: #e8c621;*/
	color: black;
	font-weight: bold;
	background-image: url(sunflowerSmallFlower.jpg);
	/*background-color: black;*/
}

.flex-container{
	display: flex;
	justify-content: center;
	background-color: transparent;
	flex-wrap: wrap;
}

.profileLinks{
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 5px;
	background-color: transparent;
}

.profileLinks a{
	border: none;
	padding: 5px 10px;
	background-color: transparent;
}

.profileLinks img{
	height: 25px;
	width: 25px;
}

.me{
	width: 200px;
	position: absolute;
	right: 70px;
	border-radius: 25px;
}

#adress{
	margin-left: 75px;
}

 #letter_heart{
 	height: 50px;
 	position: relative;
 	margin-left: 25px;
 	margin-right: 25px;
 }

/*#conainer{
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}*/

 #header{
 	padding: 0px;
 	margin: 0px;
 }

 #body{
 	margin: 0;
 	padding-left: 15px;
 	padding-right: 15px;
 	padding-top: 0;
 	padding-bottom: 0;
 	height: 100%
 }

 #footer{
 	position: relative;
 	top: 15px;
 	width: 100%;
 	height: 75px;
 	margin: 0;
 	text-align: center;
 	background-color: #fffe9f;
 }

#about_text{
	position: relative;
	margin-left: 25px;
	padding-top: 0;
}

#about_text p{
	position: relative;
	margin-left: 45px;
	padding-top: 0;
}

h3{
	margin-bottom: 5px;
}

#CONSTRUCTION{
	text-align: center;
	margin: 50px;
}

#glitterfly{
	position: absolute;
	z-index: -1;
}

.animate{
	position: relative;
	width: 75px;
	/*height: 100px;*/
}